[Unit]
Description=MariaDB server
After=network-online.target
Before=health-checker.service

[Container]
Image=registry.suse.com/suse/mariadb:10.6
Environment=MARIADB_ROOT_PASSWORD=rootpassword
Environment=MARIADB_DATABASE=wordpress
Environment=MARIADB_USER=SUSECON
Environment=MARIADB_PASSWORD=geeko
Network=wordpress.network
ContainerName=susecon-mariadb
#only available in Podman >= 5.0.x
#Pod=susecon.pod
#doesn't work well with auto-update on Podman < 5.0
#PodmanArgs=--pod susecon
Volume=/var/lib/mysql:/var/lib/mysql:Z
AutoUpdate=registry
Timezone=local

[Service]
Restart=on-failure
ExecStartPre=-/usr/bin/mkdir -p /var/lib/mysql
ExecStartPre=-/usr/bin/chcon -R system_u:object_r:container_file_t:s0 -P /var/lib/mysql

[Install]
WantedBy=multi-user.target default.target
