[Unit]
Description=Wordpress
After=network-online.target mariadb.service

[Container]
Image=registry.opensuse.org/home/fcrozat/susecon/containerfile/wordpress:latest
PublishPort=80:80
Network=wordpress.network
ContainerName=susecon-wordpress
#Pod=susecon
#doesn't work well with auto-update on Podman < 5.0
#PodmanArgs=--pod susecon
# use local to demo rollback on local pull
AutoUpdate=local
Timezone=local
Notify=true

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target default.target
