[Unit]
Description=Wordpress
After=network-online.target

[Container]
Image=registry.opensuse.org/home/fcrozat/susecon/containerfile/wordpress:latest
PublishPort=8888:80
Network=wordpress.network
ContainerName=susecon-wordpress
Pod=susecon.pod
AutoUpdate=registry
Timezone=local

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target default.target
